:root {
    --blue: #3e6990;
    --darkblue: #040547;
    --babyblue: #b0d7ff;
    --skyblue: #CAf0f8;
    --offwhite: #eae8ff;
    --gray: #d8d5db;
    --darkgray: #050517;
    scrollbar-color: var(--blue) var(--gray);
    scrollbar-width: thin;
    
}

::-webkit-scrollbar {
    width: 6px;
}
 
.article::-webkit-scrollbar-track {
    background-color: var(--babyblue);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--blue); 
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 500px;
    margin: 5px;
    background-color: var(--gray);
    scrollbar-color: var(--blue);
    scrollbar-width: thin;
}

.container {
    display: inline-grid;
    grid-template-rows: 200px 1fr 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas:
        "sidebar header header"
        "sidebar article announcements"
        "sidebar article trending";
    height: 99vh;
    width: 99vw;
    gap: 20px;
}

.container div {
    /* padding: 15px; */
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white;

}

.container>div {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px outset rgba(0, 0, 0, 0.2);
}

.header {
    background-color: var(--darkgray);
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;
    min-height: 150px;
    padding: 30px;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#input-bar {
    width: 500px;
    padding: 5px;
}

#input-bar:focus {
    text-decoration: none;
    border: none;
    border-style: none;
    outline: var(--blue) outset 2px;
}

#search-btn,
#alert-btn {
    width: 24px;
    height: 24px
}

img {
    height: 24px;
    width: 24px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    background-image: url("/images/profilepic-2022.jpeg");
    background-size: contain;
    border-radius: 50%;
    background-repeat: round;
}

.small {
    height: 24px;
    width: 24px;
}

.welcome-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome-info div {
    text-align: left;
}

.alerts-info {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    gap: 10px;
}

.alerts-info div:hover,
.alerts-info svg:hover,
.searchbar svg:hover {
    transform: scale(1.1);
}

.post-buttons {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.post-buttons button {
    height: min-content;
    padding: 10px 15px;
    background-color: var(--blue);
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 900;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
    transition-duration: 0.3s;
}

.post-buttons button:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.sidebar {
    background-color: var(--blue);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
    text-align: left;
    justify-items: start;
    padding: 15px;
}

.logo {
    display: flex;
    gap: 10px;
}

#dash-logo {
    width: 40px;
    height: 40px;
    background-image: url("/Icons/view-dashboard.svg");
    background-repeat: round;
    border-radius: 0;
    background-size: 40px 40px;
}

.logo p {
    font-size: 1.5em;
}

.nav {
    height: 300px;
}

.settings-nav {
    height: 160px
}

.nav ul,
.settings-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
    transition-duration: .3s;
}

.sidebar li a:hover {
    text-shadow: 2px 2px 5px var(--darkgray);
    transform: translateX(2px);
}

.announcements {
    grid-area: announcements;
    background-color: var(--babyblue);
    padding: 15px;
    text-align: center;
}

.trending {
    grid-area: trending;
    background-color: var(--babyblue);
    padding: 15px;
    text-align: center;
}

.announcements p,
.trending p {
    color: var(--darkgray);
}


.article {
    background-color: var(--babyblue);
    grid-area: article;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    grid-auto-rows: 200px;
    overflow: auto;
    padding: 15px;
    scrollbar-color: var(--blue) var(--babyblue);
    scrollbar-width: thin;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: var(--gray);
    text-align: left;
}

.article .card {
    background-color: var(--offwhite);
    color: black;
    text-align: center;
    border: 2px outset rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 100%;
    transition: .5s;
}

.article .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.article a {
    color: inherit;
    text-decoration: none;
    
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 1155px) {
    * {
        font-size: 1rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo {
        align-items: center;
    }

    .logo p {
        font-size: larger;
    }

    #dash-logo {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }

    #input-bar {
        width: auto;
    }

    .container {
        grid-template-rows: 1.4fr 1.2fr;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "sidebar header"
            "sidebar article"
            "sidebar announcements"
            "sidebar trending";
        overflow-y: scroll;
        grid-auto-rows: 1fr;
    }


    .alerts-info {
        display: none;
    }

    .sidebar {
        width: 200px
    }
}
